*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container{
  display: flex;
}

main{
  width: 100%;
  padding: 20px;
}

.sidebar{
  background: #0C1222;
  color: #fff;
  height: 100vh;
  width: 250px;
  transition: all 0.5s;
}

.top-section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo{
  font-size: 30px;
}

.arrow{
  background-color: aqua;
  color: #0c1222;
  border-radius: 50%;
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  transition: all 0.5s;
}

.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 25px;
  transition: all 0.5s;
}

.link:hover{
  background: aqua;
  color: #000;
  transition: all 0.5s;
}

.active{
  background: aqua;
  color: #000;
}

.icon,.link-text{
  font-size: 20px;
}
